/* Custom Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body,
h1,
h2,
p,
ul,
ol,
figure,
table,
form {
    margin: 10px 0px;
    padding: 0;
}

h1 {
    text-transform: uppercase;
}

body {
    font-family: 'Calibri', sans-serif;
    font-size: 18px;
    margin: 0 30px;
    padding: 0;
    background: linear-gradient(to bottom, #26385F, #A9B8C1);
    color: #35383B;
}

.background.pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.background.pic figcaption {
    margin-top: 10px;
    font-style: italic;
    color: #fff;
}

.background {
    display: flex;
    overflow-x: auto;
}

.background .pic {
    flex: 0 0 auto;
    margin-right: 10px;
}

.background img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

nav {
    background: linear-gradient(to bottom, #707BA3, #707BA3);
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
}

nav li {
    width: 25%;
}

nav a {
    text-decoration: none;
    color: #26385F;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 15px;
    display: inline-block;
    transition: color 0.3s;
}

nav a:hover {
    color: #A9B8C1;
    background: #26385F;
}

.intro-section,
.category-section {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.intro-section {
    background: linear-gradient(to bottom, #9494B0, #9494B0);
    color: #35383B;
}

.category-section {
    background: linear-gradient(to bottom, #707BA3, #707BA3);
    color: #161622;
}

.intro-section h1,
.category-section h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.intro-section p,
.category-section p,
#website-intro p,
#website-intro dl,
#main-content p {
    line-height: 1.5;
    font-size: 18px;
    text-indent: 20px;
}

#website-intro {

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #161622;
    font-size: 18px;
    padding: 40px;
}

#website-intro h1,
#website-intro h2,
#website-intro p,
#website-intro dl {
    color: #fff;
    font-family: 'Consolas', monospace;
}

#website-intro dl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#website-intro dt {
    font-weight: bold;
    margin-top: 10px;
}

#website-intro img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

#website-intro h1 {
    color: #35383B;
    Font-family: Consolas;
}

#website-intro h2 {
    color: #2E5A84;
    Font-family: Luminari;
}

#website-intro p {
    color: #161622;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    line-height: 2;
    margin-top: 20px;
    text-indent: 20px;
}

#website-intro dl {
    color: #B7A889;
}

.section-title {
    color: #2E5A84;
    font-family: Luminari;
    margin-top: 30px;
}

.reasons-list li {
    line-height: 1.5;
}

.feature-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.feature-cell {
    padding: 10px;
    border: 1px solid #ddd;
}

.feature-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.feature-list li {
    line-height: 1.5;
    font-size: 20px;
}

.feature-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.feature-table td {
    border: 0px solid #ddd;
}

.feature-table th {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.feature-table th h2 {
    margin: 0;
    font-size: 18px;
}

.feature-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.feature-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/*4 images*/
h2.cat-title {
    color: #ddd;
}

.image-table {
    border-collapse: collapse;
    width: 100%;
    border-spacing: 10px;
}

.image-container {
    margin: 0;
}

.image-caption {
    margin-top: 5px;
    font-size: 14px;
    color: #AAB8BC;
}

.table-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.table-cell {
    padding: 10px;
    text-align: center;
    border: 2px solid #2E5A84;
    border-width: 2px;
    border-color: #004080;
    border-style: none;
}

/*Category*/
.category-section .channel {
    background: linear-gradient(to bottom, #545359, #343A43);
    color: #A8B9C1;
    padding: 15px;
    margin: 10px 5px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    transition: background 0.3s;
}

.category-section .channel:hover {
    background: #31744C;
}

/* Blockquote Styles */
.quote-section {
    background-image: url('https://pic1.zhimg.com/80/v2-6e4c8b69171cbb6975312b1beff0c9a0_1440w.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 20px;
    height: 50vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote-section p {
    font-size: 1.5em;
    line-height: 1.5;
    text-align: center;
    text-indent: 20px;
}

.quote-section footer {
    margin-top: 10px;
    font-size: 1.2em;
    text-align: center;
}

.quote-section cite {
    font-style: italic;
    color: #ffd700;
}

/*Film list*/

#main-content table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

#main-content th,
#main-content td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

#main-content th {
    background-color: rgba(51, 51, 51, 0.7);
    color: white;
}

#main-content a {
    text-decoration: none;
    color: #0066cc;
}

#main-content a:hover {
    color: red;
}

#main-content a:active {
    color: green;
}

#main-content a:focus {
    outline: 2px solid orange;
}



#main-content tr:nth-child(even) {
    background-color: rgba(242, 242, 242, 0.5);
}



#noResultsMessage {
    display: none;
}

#formtitle {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
    display: table-caption;
    caption-side: top;
    color: #161622;
}

caption {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

#main-content {
    color: #161622;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#main-content table {
    caption-side: top;
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#main-content tr:nth-child(odd) {
    background-image: url('https://pic1.zhimg.com/80/v2-6569aadfb48bb6ea9ea69239abc97258_1440w.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#main-content tr:nth-child(even) {
    background-image: url('https://pic1.zhimg.com/80/v2-7612260279b873a0f254ba32d450a8d0_1440w.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#main-content td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    background-color: rgba(242, 242, 242, 0.7);
}

#main-content td:last-child {
    padding: 40px;
}

#main-content th {
    background-color: rgba(51, 51, 51, 0.7);
    color: white;
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}
#main-content img {
    max-width: 80%;
    height: auto;
    border-radius: 5px;
    vertical-align: middle;

}

#main-content tr:nth-child(even) {
    background-color: rgba(242, 242, 242, 0.5);
}

#main-content textarea {
    width: 100%;
}

#custom-addition {
    margin: 0;
    padding: 0;
}


#mediaTableBody td:nth-child(1) {
    width: 20%;
}

#mediaTableBody td:nth-child(2) {
    width: 20%;
}

#mediaTableBody td:nth-child(3) {
    width: 10%;
}

#mediaTableBody td:nth-child(4) {
    width: 15%;
}

#mediaTableBody td:nth-child(5) {
    width: 35%;
}

#RestButtonPart,
#additionalControls,
#searchbyText {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

button {
    padding: 8px 15px;
    cursor: pointer;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* Additional buttons */
#RestButtonPart {
    background-color: #9494B0;
    padding: 10px;
}

#resetDatabaseBtn,
#additionalControls,
#searchbyText {
    background-color: #ADA4B5;
    padding: 10px;
    border: none;
}

#yearDropdown,
#searchingTextBtn {
    background-color: #B9BFB9;
    color: #35383B;
    border: none;
    padding: 5px;
}

#yearDropdown:hover,
#searchingTextBtn:hover {
    background-color: #B9BFB9;
}

#searchingTextinput {
    background-color: #B9BFB9;
}


/*foot & bottom*/
#foot {
    margin-top: 20px;
}

#u2 {
    list-style-type: none;
    list-style-image: none;
    padding: 0;
}

#u2 ol {
    display: inline;
    margin-left: 20px;
    margin-right: 10px;
}

#u2 li {
    font-variant: small-caps;
    list-style-position: outside;
}

#bottom {
    margin: 20px auto;
    text-align: center;
    font: 16px/1.5 Arial, sans-serif;
}

#bottom span {
    display: inline-block;
}

pre {
    white-space: pre-wrap;
}

.feature-list li {
    line-height: 1.5;
    font-size: 20px;
}

/*print*/
@media print {
    nav ol {
        display: block;
        margin: 0;
    }

    .image-table {
        display: none;
    }

    .feature-image {
        display: none;
    }

    h2.cat-title {
        display: none;

    }


    #main-content {
        page-break-inside: avoid;
        page-break-before: auto;
        page-break-after: auto;
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        orphans: 2;
        widows: 2;
    }

    #main-content thead {
        display: table-header-group;
    }

    #main-content td,
    #main-content th {
        padding: 8px;
        border: 1px solid #ddd;
    }

    #main-content th:first-child,
    #main-content td:first-child {
        width: 20%;
    }

    #main-content th:nth-child(2),
    #main-content td:nth-child(2) {
        width: 15%;
    }

    #main-content th:nth-child(3),
    #main-content td:nth-child(3) {
        width: 10%;
    }

    #main-content th:nth-child(4),
    #main-content td:nth-child(4) {
        width: 15%;
    }

    #main-content th:nth-child(5),
    #main-content td:nth-child(5) {
        width: 40%;
    }

    #foot,
    #bottom {
        display: none;
    }

}

@media print and (orientation: portrait) {

    h1,
    h2,
    h3 {
        font-size: medium;
    }

    .column {
        width: 100%;
    }

}

@media print and (orientation: landscape) {

    h1,
    h2,
    h3 {
        font-size: larger;
    }

    .column {
        width: 50%;
        float: left;
    }

    table {
        width: 100%;
    }

}

.feature-table {
    width: 100%;
}

.feature-cell {
    padding: 10px;
}

.feature-image img {
    width: 100%;
    height: auto;
}

.feature-list {
    list-style-type: none;
    padding: 0;
}

.feature-list li {
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
        margin: 5px;
    }

    h1,
    h2 {
        margin: 5px;
    }

    nav ul {
        padding: 0;
        list-style: none;
    }

    nav ul li {
        display: block;
        width: 100%;
        margin-bottom: 10px;
    }

    nav a {
        display: block;
    }

    .feature-table {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .feature-cell {
        display: block;
        text-align: left;
        margin: 0;
        padding: 0;
        width: 100%;
        box-sizing: border-box;
    }

    .feature-list {
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .feature-image {
        width: 100%;
        margin: 0;
        padding: 0;
        display: block;
    }

    #imdb-link {
        cursor: pointer;
        text-decoration: underline;
    }

    #imdb-tooltip {
        display: none;
        position: absolute;
        background-color: #fff;
        padding: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        z-index: 1;
    }

    .image-table {
        display: block;
    }

    .table-cell {
        display: block;
        width: 100%;
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }

    .image-caption {
        text-align: left;
        margin: 0px;
        padding: 0px;
    }

    .category-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0px;
        padding: 0px;
    }

    .channel {
        margin: 0px;
        padding: 0px;
    }

    #main-content {
        background: none;
    }

    #main-content {
        background: none;
    }

    #main-content th {
        display: none;
    }

    #main-content tr {
        display: block;
        margin-bottom: 20px;
    }

    #main-content td {
        display: block;
        text-align: left;
    }

    #main-content .cover {
        display: block;
        margin-bottom: 10px;
    }

    #main-content .title,
    #main-content td:nth-child(3),
    #main-content td:nth-child(4),
    #main-content td:nth-child(5) {
        display: block;
        margin-bottom: 10px;
    }

    .inputform {
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .inputform table {
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .inputform td {
        display: block;
        width: 100%;
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }

    .inputform label {
        font-weight: bold;
    }

    .inputform input,
    .inputform textarea {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    #bottom pre {
        line-height: 1;
        margin: 0px;
        font-size: 16px;
        text-align: right;
    }

    img {
        max-width: 70%;
    }

    #mediaTableBody td {
        width: 100%;
        box-sizing: border-box;
        display: block;
        margin-bottom: 10px;
    }

    #newFilmFormBootstrap,
    #newFilmFormBootstrap tr,
    #newFilmFormBootstrap td,
    #mediaTableBody,
    #mediaTableBody td {
        width: 100% !important;
        margin: 0 auto;
        text-align: center;
        box-sizing: border-box;
        display: block;
        margin-bottom: 10px;
    }

    #mediaTableBody img {
        text-align: center;
    }

    #submitFilmBtn {
        width: auto;
    }

}

#imdb-link:hover+#imdb-tooltip {
    display: block;
}


@media screen and (max-width: 320px) {
    body {
        font-size: 18px;
    }

    nav ul {
        display: block;
    }

    nav li {
        margin-bottom: 10px;
    }

    nav a {
        font-size: 18px;
    }

    h1,
    h2,
    p {
        font-size: 20px;
    }

    .category-section .channel,
    .intro-section p,
    .quote-section p {
        font-size: 16px;
    }

    .inputform {
        width: 100%;
        margin: 0 auto;
    }

    .inputform table {
        width: 100%;
        margin: 0 auto;
    }

    .inputform td,
    .inputform th {
        padding: 8px;
        text-align: center;
    }

}

/* Additional Hover Styles */
.channel:hover {
    background: #004080;
}

#main-content a:hover {
    text-decoration: underline;
}

button:hover {
    background: #004080;
    color: white;
    transform: scale(1.1);
    border-color: #31744C;
    border-style: solid;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}
